{% extends 'layouts/baseSinHero.html' %}
{% load static %}
{% block contenido %}
<h2 class="text-center text-primary fw-bold mt-4">Listado de Citas</h2>


<section class="m-5">
    <div class="container-xl ">
        <div class="row ">
            {% for comentario in comentarios %}
                {% if bandera %}
                    {% if paciente %}
                        <div class="col-md-6 d-flex gap-2 p-3 mb-5">
                            {% if  comentarios.calificacion > 3 and comentarios.calificacion <= 5 %}
                                <img src="{% static 'img/DolorMuela.jpg' %}" alt="imagen" class="img-fluid w-50">
                            {% else %}
                                <img src="{% static 'img/blanqueamiento.jpg' %}" alt="imagen" class="img-fluid w-50">
                            {%endif%}
                            <div class="contenido">
                                <h4 class="text-primary fw-bold">
                                    Contenido:
                                </h4>
                                <p>
                                    {{comentario.contenido}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    calificacion:
                                </h4>
                                <p>
                                    {{comentario.calificacion}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    Dentista:
                                </h4>
                                <p>
                                    {{comentario.dentista_id.nombre}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    cita:
                                </h4>
                                <p>
                                    {{comentario.cita_id.motivo}}
                                </p>
                            </div>
                    {% else %}        
                        <div class="col-md-6 d-flex gap-2 p-3 mb-5">
                            {% if  comentarios.calificacion > 3 and comentarios.calificacion <= 5 %}
                                <img src="{% static 'img/DolorMuela.jpg' %}" alt="imagen" class="img-fluid w-50">
                            {% else %}
                                <img src="{% static 'img/blanqueamiento.jpg' %}" alt="imagen" class="img-fluid w-50">
                            {%endif%}
                            <div class="contenido">
                                <h4 class="text-primary fw-bold">
                                    Contenido:
                                </h4>
                                <p>
                                    {{comentario.contenido}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    calificacion:
                                </h4>
                                <p>
                                    {{comentario.calificacion}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    Paciente:
                                </h4>
                                <p>
                                    {{comentario.paciente_id.first_name}}
                                </p>
                                <h4 class="text-primary fw-bold">
                                    cita:
                                </h4>
                                <p>
                                    {{comentario.cita_id.motivo}}
                                </p>
                            </div>
                        </div>
                    {% endif %}
                {% else %}
                <div class="col-md-6 d-flex gap-2 p-3 mb-5">
                    {% if  comentarios.calificacion > 3 and comentarios.calificacion <= 5 %}
                        <img src="{% static 'img/DolorMuela.jpg' %}" alt="imagen" class="img-fluid w-50">
                    {% else %}
                        <img src="{% static 'img/blanqueamiento.jpg' %}" alt="imagen" class="img-fluid w-50">
                    {%endif%}
                    <div class="contenido">
                        <h4 class="text-primary fw-bold">
                            Contenido:
                        </h4>
                        <p>
                            {{comentario.contenido}}
                        </p>
                        <h4 class="text-primary fw-bold">
                            calificacion:
                        </h4>
                        <p>
                            {{comentario.calificacion}}
                        </p>
                        <h4 class="text-primary fw-bold">
                            Dentista:
                        </h4>
                        <p>
                            {{comentario.dentista_id.nombre}}
                        </p>
                        <h4 class="text-primary fw-bold">
                            cita:
                        </h4>
                        <p>
                            {{comentario.cita_id.motivo}}
                        </p>
                        <h4 class="text-primary fw-bold">
                            Paciente:
                        </h4>
                        <p>
                            {{comentario.paciente_id.first_name}}
                        </p>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    
</section>


{% endblock  %} 